<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>homebrew.mxcl.caddy</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
       <key>SuccessfulExit</key>
       <false/>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/opt/caddy/bin/caddy</string>
      <string>-conf</string>
      <string>/usr/local/etc/caddy.d/Caddyfile</string>
      <string>-host</string>
      <string>192.168.100.38</string>
      <string>-cpu</string>
      <string>50%</string>
<!--
      <string>-ca</string>
      <string>https://acme-staging.api.letsencrypt.org/directory</string>
-->
      <string>-email</string>
      <string>chrisbee@uw.edu</string>
      <string>-agree</string>
      <string>-log</string>
      <string>/usr/local/var/log/caddy.log</string>
      <string>-root</string>
      <string>/usr/local/var/caddy/public</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>HOME</key>
      <string>/usr/local/var/caddy</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/usr/local/var/caddy</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/caddy.stderr</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/caddy.stdout</string>
    <key>UserName</key>
    <string>root</string>
    <key>GroupName</key>
    <string>wheel</string>
  </dict>
</plist>
